#scrollContainer {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    overflow-x: scroll;
    width: auto;
    padding: 20px 20px;
    max-height: 460px;
    overflow-y: hidden;
}

.threads-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    transition: 0.6s all ease-in-out
}

.simplebar-content{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    overflow-x: scroll;
    width: auto;

}


#scrollContainer::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
}


#scrollContainer::-webkit-scrollbar{
    width: 10px;
}

#scrollContainer::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: lightblue;
}

.thread-scroll-wrap{
    position: relative;
    transition: 0.3s all ease-in-out;
}


.thread-wrapper {
    position: relative;
    flex-shrink: 0;
    flex-basis: 260px;
    height: auto;
    transition: 0.4s all ease-in-out;

}

.thread-wrapper-top, .thread-wrapper-bottom, .thread-wrapper-middle {
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 0 0;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 0px -2px 5px 0px rgba(102,51,153,0.10);


}

.thread-wrapper-bottom {
    border-radius:  0 0 10px 10px;
    box-shadow: none;
    box-shadow: 0px 0px 13px 0px rgba(102,51,153,0.05);
}

.thread-wrapper-middle {
    border-radius: 0;
    background-color: rgba(70, 134, 160, 0.164);
    box-shadow: 0px 0px 13px 0px rgba(102,51,153,0.05);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-height: 260px;
    overflow-y: scroll;
    overscroll-behavior-y:contain;
    
}

.threads button{
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
    &:disabled{
        opacity: 0.3;
        cursor: not-allowed;
    }
    &:hover:enabled{
        opacity: 0.85;
    }
    &:hover:active{
        transform: translateY(5px);
        opacity: 1;
    }
}



.threads-modal-overlay {
    display: none;
    background-color: rgba(0,0,0,.64);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.threads-modal-container {
    width: 50vw;
    height: 50vh;
    background-color: white;
    border-radius: 30px;
    padding: 20px 40px;
    position: relative;
    z-index: 200;

    @media screen and (max-width: 1000px) {
        width: 90vw;
        height: 50vh;
    }
}

.header-with-button{
        display: flex;
        justify-content: space-between;
        align-items: "center",

}


.header-with-button button {
    font-size: 20px;
    font-weight: 200;
}